* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


header {
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background: linear-gradient(180deg, #B3EFFF 0%, #4cb9eb 100%);
    position: fixed;
    /* Adiciona fixação */
    top: 0;
    /* Alinha no topo */
    z-index: 1000;
    /* Certifica-se de que o header fique sobre os outros elementos */
}



.metricasGeral {
    display: flex;
    justify-content: space-between;
    gap: 150px;
    
    align-items: center;
   
   
}
.metricasGeral div {
    height: 170px;
    width: 190px;
    background-color: #7F00FF;
    border: none;
    border-radius: 20px;
    margin-left: -1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
   
  
   
}

.metricasGeral h4 {
   
    text-align: center; /* Centraliza o texto dentro do h4 */
    font-size: 22px;
    color: #fff;
   
    
}

.valor-metrica{
    font-size: 40px;
    font-weight: bold;
     margin-top: 20px;
     color: #fff;
     font-weight: bold;
}

.valor-metrica h5{
    font-size: 40px;
    font-weight: bold;
     margin-top: 20px;
     color: #fff;
     font-weight: bold;
     
   

}














.container {
    margin-left: 200px;
    /* corresponde à largura do aside */
   
}

aside {
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, #B3EFFF 0%, #4cb9eb 100%);
    padding-top: 20px;
    /* Adiciona padding para espaço no topo */
}

aside img{
    margin-top: 20px;
    border-radius: 50%;
    margin-left: 20px;
    /* Espaço adicional no topo da imagem */
}

.buttonsmeio {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centraliza os botões dentro da div */
}

aside button {
    height: 50px;
    width: 180px;
    background: linear-gradient(#7F00FF, #E100FF);
    border: none;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}


section {

    height: 80vh;
    /* background: linear-gradient(180deg, #B3EFFF 0%, #4cb9eb 100%); */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 200px;
    /* Corresponde à altura do header */




}

section img {
    height: 200px;

}

section div {
    background-color: #fff;
    height: 400px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    flex-direction: column;
    border: 3px solid #000;
}

section div:hover {
    height: 420px;
    width: 350px;
    transition: all 0.5s ease-in-out;
}

section h5 {
    margin-bottom: 25px;
    color: #000;
    font-size: 40px;

}

div .van-3 {
  
    background-color: #e91a16;
    
}

.metrica1 h5{
    font-size: 25px;
    font-weight: bold;
     margin-top: 20px;
     color: #fff;
     font-weight: bold;

}


