* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
} 

header {
    height: 130px;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    background: linear-gradient(180deg, #B3EFFF 0%, #4cb9eb 100%);
    position: fixed;
    top: 0;
    z-index: 1000;
}

header img {
    height: 100px;
}



aside img {
    height: 150px;
    width: 150px;


}

aside span{
    margin-bottom: 20px;
}



.aside-metrica{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    
}





.container {
    margin-left: 200px; /* corresponde à largura do aside */
    margin-top: 130px; /* Compensa a altura do header */
    height: 100vh;
    /* width: 100vw; */
}

aside {
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, #B3EFFF 0%, #4cb9eb 100%);
    
}

.img-aside {
   
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.buttonsmeio {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;  /* Ajuste o espaçamento entre os botões conforme necessário */
}

aside button {
    height: 50px;
    width: 180px;
    background: linear-gradient(#7F00FF, #E100FF);
    border: none;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}




section {
    background-color: whitesmoke;
    height: 129vh;
}

/* Estilos gerais para a seção de métricas e gráficos */
section.metricas-graficos {
    display: flex; /* Ativa o layout flexbox */
    flex-direction: column; /* Organiza os elementos em coluna */
    padding: 20px; /* Adiciona um pouco de espaçamento */
}

/* Estilos para a seção de métricas */
.metricas {
    display: flex; /* Ativa o layout flexbox para as métricas */
    justify-content: space-around; /* Espaça as métricas horizontalmente */
    margin-bottom: 20px; /* Espaço entre métricas e gráficos */
    width: 80%;
}

.metricas > div {
    height: 150px;
    width: 150px;
     background-color: #614ceb;  
     /* background-color: #11C8E8;  */
    /* Cor de fundo das métricas */
    color: white; /* Cor do texto */
    padding: 20px; /* Preenchimento interno */
    border-radius: 20px; /* Cantos arredondados */
    text-align: center; /* Centraliza o texto */
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Estilos para a seção de gráficos */
.graficos {
    display: flex; /* Ativa o layout flexbox para os gráficos */
    justify-content: center; /* Centraliza os gráficos horizontalmente */
    gap: 20px; /* Espaço entre os gráficos */
    margin-top: 20px; /* Espaço acima dos gráficos */
    flex-direction: column;
    align-items: center;
    
}

.grafico1, .grafico2, .grafico3 {
    border: 3px solid #4cb9eb; /* Borda para os gráficos */
    border-radius: 20px; /* Cantos arredondados */
    height: 300px; /* Define a altura dos gráficos */
    background-color:white; /* Cor de fundo dos gráficos */
    width: 80%; /* Ajuste a largura dos gráficos aqui */
    display: flex; /* Centraliza o canvas dentro do gráfico */
    justify-content: center; /* Centraliza horizontalmente o conteúdo */
    align-items: center; /* Centraliza verticalmente o conteúdo */
}

.maxima, .minima{
    color: black;
    margin-top: 20px;

}



.ideal {
    color: green;
    margin-top: 30px;
}

.valormotorista {
    color: black;
}

.valoratual {
    color: yellow;
}

.valorgaiola, .valoralerta {
    color: green;
}

.valoralertas {
    color: red;
}




