* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    background: linear-gradient(180deg, #B3EFFF 0%, #4cb9eb 100%);
    position: fixed; 
    top: 0; 
    z-index: 1000; 
}



header img{
    height: 100px;
   
}



aside img {
    height: 150px;
    width: 150px;
    

}





.container {
    margin-left: 200px; /* corresponde à largura do aside */
}

aside {
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #B3EFFF 0%, #4cb9eb 100%);
}


aside button{
    height: 50px;
    width: 180px;
    background: linear-gradient(#7F00FF, #E100FF);
    border: none;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

section {
   
    height: 80vh;
    background-color: black;
    /* background: linear-gradient(180deg, #B3EFFF 0%, #4cb9eb 100%); */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 147px; /* Corresponde à altura do header */

}

section img {
    height: 200px;

}

section div {
    background-color: #fff;
    height: 400px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    flex-direction: column;
     border: 5px solid rgb(106, 245, 245); 
}

section div:hover{
    height: 420px;
    width: 350px;
    transition: all 0.5s ease-in-out;
}

section h5 {
    margin-bottom: 25px;
    color: rgb(163, 84, 236);
    font-size: 30px;

}

.imgfrizza {
    display: flex;
    margin-top: -280px;
    border-radius: 50%;
}

.imgcontato, .imginfo, .imgdados {
    display: flex;
    height: 70px;
}