body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(180deg, #B3EFFF 0%, #4cb9eb 100%);
}


header {
    height: 100vh;
    width: 20%;
}

header img {
    height: 300px; 
    margin-top: -30px;
    filter: drop-shadow(0 8px 20px rgba(46, 45, 45, 0.5));
    margin-right: -10px;
}

header a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: 800;
    border-bottom: 2px solid rgb(163, 84, 236);
    cursor: url('cursor\ pointer.png'), auto !important; 
    filter: drop-shadow(0px 0px 10px rgba(6, 69, 105, 0.5));

}

header a span {
    color: rgb(163, 84, 236);
}

header a span:hover {
    color: #fff;

}

header a:hover {
    font-size: 20px;
    transition: all 0.5s ease-in-out;
    color: rgb(163, 84, 236);
}

.botaoPagina {
    
    cursor: pointer;
    border: 2px solid rgb(163, 84, 236);
        border-radius: 17px;
    background-color: #fff;;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
    margin-top: 20px;
    height: 60px;
    width: 250px;
   
    
}

.textobot{

    
    color: #fff;
    filter: drop-shadow(0px 0px 10px  rgb(134, 38, 223));
    
}

.dashboard {
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    left: 350px;
    height: 100%;
    top: -500px;
    width: 70%;
    margin-top: -300px;
}

.dashboard .container{
    width: 400px;
    display: flex;
    flex-direction:column;
    padding: 200px;
    
 
    
}

.dashboard .container .kpi{
    background-color: rgb(182, 132, 132);
    
    width: 300px;
    height: 100px;
    border-radius: 30px;
    display: flex;
    margin-top: -80px;
    margin-bottom: 50px;
    margin-left: -180px;
    align-items: center;
    justify-content: center;
}

.dashboard .container .kpi2{
    background-color: rgb(167, 24, 24);
    width: 300px;
    height: 100px;
    border-radius: 30px;
    display: flex;
    margin-top: -150px;
    margin-bottom: 50px;
    margin-left: 120px;
    align-items: center;
    justify-content: center;
}

.dashboard .container .kpi3{
    background-color: rgb(62, 59, 211);
    width: 300px;
    height: 100px;
    border-radius: 30px;
    display: flex;
    margin-top: -150px;
    margin-bottom: 0px;
    margin-left: 420px;
    align-items: center;
    justify-content: center;
}


.dashboard .container .grafico1{
   display: flex;
    width: 60vh;
    height: 50vh;
    margin-left: -200px;
   
    
}
.dashboard .container .grafico2{
   display: flex;
    width: 60vh;
    height: 50vh;
    margin-left: -200px;
    margin-top: -150px;
}
.dashboard .container .grafico3{
   display: flex;
    width: 45vh;
    padding-left: 90%;
    height: 45vh;
    margin-top: -700px;
}


footer {
    background: linear-gradient(180deg, #4cb9eb 0%, #8bd6eb 100%);
    width: 97%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    padding: 30px;
    margin-top: -300px;
    filter: drop-shadow(0 8px 20px rgba(8, 99, 91, 0.5));
}
.icone {
    display: flex;
    align-items: center;
}

.icone img {
    margin-right: 7px;
    color: #fff;
    cursor: url('cursor\ pointer.png'), auto !important;
    margin-top: 6px;
}

.icone p {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}
